.containers {
  display: flex;
    
    overflow-y: scroll; 
     
  }
  
 
  .containers::-webkit-scrollbar {
    display: none;
  }

  .containersss {
    
      overflow-y: scroll; 
    }
    
 
    .containersss::-webkit-scrollbar {
      display: none;
    }