.containers {
  display: flex;
    
    overflow-y: scroll; 
     
  }
  
 
  .containers::-webkit-scrollbar {
    display: none;
  }

  .containersss {
    
      overflow-y: scroll; 
    }
    
 
  .containersss::-webkit-scrollbar {
      display: none;
  }

  .containerrrrr{
    overflow-y: scroll; 

  }
  
  .containerrrrr::-webkit-scrollbar {
    display: none;
  }

  .movie-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Two columns */
   
}


